.items{
    height: 160px;
    width: 155px;
    border:2px solid black;
    margin: 10px;
    text-align: center;
    font-size: auto;
    vertical-align: text-bottom;
}
.section-body{
    display: flex;
    flex-wrap: wrap;
}
.section-header{
    background-color:blue; 
    text-align: center;
    color: yellow;
    font-size: x-large;
}
img{
    max-width: 128px;
    max-height: 140px;
    text-align: center;
    display: flex;
    image-rendering: auto;
    margin: auto;
    margin-top: auto;
    justify-content: center;
    
}